.fundo-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #418ca5;
  z-index: 999;
}

.container-login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #264E63;
  border-radius: 10px;
  box-shadow: 0 0px 80px rgba(0, 0, 0, 0.4);
  padding: 10px;
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

@media (max-width: 600px) {
  .container-login {
    width: 90%;
    height: auto;
    max-height: none;
  }

  .secao-fotos {
    flex-direction: column;
    gap: 10px;
    height: auto;
  }

  .espaco-foto {
    width: 100%;
    height: 400px;
    max-width: 250px;
  }
}

.login-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  height: 200px;
  margin-right: 1px;
}

.nome-site {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -5px;
}

.conteudo-login {
  display: flex;
  width: 100%;
}

.secao-formulario {
  flex: 1;
  padding-right: 20px;
}

.secao-fotos {
  flex: 1.5;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nome-site-acima {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.secao-formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.secao-formulario input {
  width: 100%;
  padding: 10px;
  margin-bottom: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.secao-formulario button {
  width: 100%;
  padding: 10px;
  background-color: #8F8F8F;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.secao-formulario button:hover {
  background-color: #4b4b4b;
}

.secao-fotos {
  flex: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  height: 700px;
}

.espaco-foto {
  flex: 1;
  width: 700px;
  height: 765px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  overflow: hidden;
  margin: 10px;
}

.foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
